.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.home__title {
  margin-top: 10px;
}

.home__cards {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  width: 100%;
}

.home__footer p {
  font-style: italic;
}

@media (max-width: 600px) {
  .home__cards {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    grid-row-gap: 20px;
  }
}
